*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url("../styles/image/bg.png");
  background-size: cover;
  background-position: center;

}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #3e8e41;
  background: #fff;
  position: fixed;
  left: 0;
  z-index: 100;

  .logo img {
    width: 100px;
    cursor: pointer;
    margin: 10px 0;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 0 10px;

      a {
        text-decoration: none;
        color: #000;

        &:hover {
          color: #3e8f3e;
        }
      }
    }
  }

  .social_icon i {
    margin: 0 5px;
    font-size: 18px;

    &:hover {
      color: #3e8f3e;
      cursor: pointer;
    }
  }
}

section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  top: 10%;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    .main_tag, .main_img {
      width: 100%;
    }
  }
  h1 {
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;

    span {
      color: #d58512;
    }
  }

  p {
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
  }

  .main_tag {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        text-align: center;
        margin-bottom: 25%;
    }

    .main_btn {
        background: #e38d13;
        padding: 10px 20px;
        position: relative;
        color: #fff;
        text-decoration: none;
    }
}

  .main_img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      padding: 0 60px 0 0;
      width: 100%;
      position: relative;
      top: 90px;
      left: 20px;
      @media screen and (max-width: 992px) {
        padding: 0;
      }
    }
  }
}

.services {
  width: 100%;
  height: auto;
  margin: 35px 0;

  .services_box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .services_card {
      text-align: center;
      width: 20%;
      height: 100%;
      box-shadow: 0 0 8px #3c763d;
      padding: 15px 10px;
      margin: 0 2.5px;
      @media screen and (max-width: 992px) {
        margin: 5px 0;
        width: 50%;
      }

      i {
        color: #3c763d;
        font-size: 45px;
        margin-bottom: 15px;
        cursor: pointer;
      }

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}

.about {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .about_image img {
    width: 800px;
  }

  .about_tag {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 50px;
      position: relative;
      bottom: 35px;
      color: #d58512;
    }

    p {
      line-height: 22px;
      width: 100%; // Змініть ширину тексту на повну ширину блоку
      text-align: justify;
      margin-bottom: 15px;
    }

    .about_btn {
      padding: 10px 20px;
      background: #3c763d;
      color: #fff;
      text-decoration: none;
      position: relative;
      top: 50px;
    }
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    text-align: center;

    .about_image img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

/* Books */

.featured_boks {
  width: 100%;
  height: 100vh;
  padding: 70px 0;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color: #d58512;
  }

  .featured_book_box {
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    overflow: hidden;
    overflow-x: scroll;

    .featured_book_card {
      width: 250px;
      height: 420px;
      text-align: center;
      padding: 5px;
      border: 1px solid #919191;
      margin: auto 20px;

      &:hover {
        box-shadow: 0 0 5px #3e8f3e;
      }

      .featurde_book_img img {
        width: 150px;
      }

      .featurde_book_tag {
        h2 {
          margin: 12px;
        }

        .writer {
          color: #919191;
        }

        .categories {
          color: #3e8e41;
          margin-top: 8px;
        }

        .book_price {
          margin-top: 8px;
          font-weight: bold;
          margin-bottom: 15px;

          sub {
            font-weight: 100;
            padding: 0 5px;
          }
        }

        .f_btn {
          padding: 6px 20px;
          border: 2px solid #3e8f3e;
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: #3e8e41;
    border-radius: 10px;
  }
}

/* Arrivals */

.arrivals {
  width: 100%;
  height: 100vh;
  margin-bottom: 35px;

  h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: #d58512;
  }

  .arrivals_box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px 0;

    .arrivals_card {
      width: 250px;
      height: 340px;
      text-align: center;
      padding: 5px;
      border: 1px solid #919191;
      margin: auto 20px;

      &:hover {
        box-shadow: 0 0 5px #398439;
      }

      .arrivals_image {
        width: 150px;
        height: 220px;
        margin: 0 auto;
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: 0.3s;
        }
      }

      &:hover {
        .arrivals_image img {
          transform: scale(1.1);
        }
      }

      .arrivals_tag {
        p {
          font-family: queen of camelot;
          font-size: 20px;
          margin: 8px 0;
        }

        .arrivals_icon {
          color: #398439;
          margin-bottom: 18px;
        }

        .arrivals_btn {
          padding: 8px 20px;
          border: 2px solid #398439;
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

/* Banner */

.banner {
  width: 100%;
  height: 50vh;
  margin: 250px auto 0;
  background-image: url('../styles/image/banner.jpg');
  background-size: cover;
  background-position: center;

  .banner_btn {
    padding: 8px 20px;
    background: #398439;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
  }
}

/* Footer */

footer {
  width: 100%;
  background: #eaeaea;

  .footer_main {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .tag {
      margin: 10px 0;

      img {
        width: 100px;
        margin-bottom: 10px;
      }

      p {
        width: 250px;
        line-height: 22px;
        text-align: justify;
      }

      h1 {
        font-size: 25px;
        margin: 25px 0;
        color: #000;
      }

      a {
        display: block;
        color: black;
        text-decoration: none;
        margin: 10px 0;

        i {
          margin-right: 10px;
        }
      }

      .social_link i {
        margin: 0 5px;
      }

      .search_bar {
        width: 230px;
        height: 30px;
        background: rgba(202, 202, 202);
        border-radius: 25px;

        input {
          width: 200px;
          padding: 2px 0;
          position: relative;
          top: 17%;
          left: 6%;
          border: none;
          outline: none;
          font-size: 13px;
          background: none;
        }

        button {
          padding: 7px 15px;
          background: #398439;
          border: none;
          margin-top: 15px;
          border-radius: 25px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;

    span {
      color: #398439;
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 992px) {
    .footer_main {
      flex-direction: column;
      align-items: center;

      .tag {
        text-align: center;
        width: 100%;

        img {
          margin-bottom: 20px;
        }

        p {
          width: 80%;
          margin: 0 auto;
        }

        h1 {
          margin: 20px 0;
        }

        .search_bar {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
