body {
  font-family: Arial, sans-serif;
  background-color: #e3e566;
  padding: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  color: #FF5733; /* Orange color */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  cursor: zoom-in;
}

p {
  margin-bottom: 10px;
  color: #e38d13; /* Dodger blue color */
}
